body {
  background-image: url("Images/main\ bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.logo-container {
  text-decoration: none;
  display: inline-block;
  display: flex;
  gap: 8px;
}

header {
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-text > span {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 29px;
  line-height: 29px;
  color: #ffffff;
}

.logo-container:hover .logo-text > span {
  color: #f26522;
}

.logo-img-hover {
  display: none;
}

.logo-container:hover .logo-img-hover {
  display: inline-block;
}

.logo-container:hover .logo-img {
  display: none;
}

.logo-text {
  flex-direction: column;
  display: flex;
  gap: 5px;
  text-transform: uppercase;
}

.logo-text > span:last-child {
  font-size: 18px;
  line-height: 18px;
}

.contacts > a {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  text-decoration: none;
  display: block;
  text-align: right;
  transition: 0.5s;
  color: #ffffff;
}

.contacts > a:first-child {
  margin-bottom: 13px;
}

.contacts > a:hover {
  color: #f26522;
}

.photo h2 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  margin-top: 20px;
  transition: 0.3s;
  color: #ffffff;
}

.photo:hover h2{
  color: #f26522;
}

main {
  display: flex;
  gap: 65px;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer {
  padding: 15px 0;
  margin-top: 15px;
}

.copyright {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: #ffffff;
}
